---
import Layout from '@layouts/Layout.astro';
---

<Layout title={`Northern Venture Drone Services`}>
  <main>
    <h1 class="text-5xl text-orange-500 font-bold font-display">
      Welcome to Northern Venture Drone Services
    </h1>
  </main>
</Layout>
