---
import Layout from '@layouts/Layout.astro';

import ScrollSection from '@components/common/ScrollSection.astro';
---

<Layout title={`Northern Venture Drone Services`}>
  <div>
    <ScrollSection>Hero</ScrollSection>
    <ScrollSection>Parallax</ScrollSection>
    <ScrollSection>Services</ScrollSection>
    <ScrollSection>Parallax</ScrollSection>
    <ScrollSection>CaseStudy1</ScrollSection>
    <ScrollSection>CaseStudy2</ScrollSection>
    <ScrollSection>CaseStudy3</ScrollSection>
    <ScrollSection>Parallax</ScrollSection>
    <ScrollSection>About</ScrollSection>
    <ScrollSection>Contact</ScrollSection>
  </div>
</Layout>
